body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Images/my_buisness.jpg) center center fixed; 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

#intro {
  display: flex;
  align-items: center;
  height: 50vh;
 margin: 100px 10px 50px 20px;
}

.about_me {
  display: flex;
  justify-content: center;
}

.mainlogo{
  height: auto;
  max-height: 400px;
}

/* .app_info {
  display: flex;
  flex-direction: row;
}

.synthBall, .comingSoon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  height: 200px;
  width: 400px;
} */
 .my_apps{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

 .card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

 .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.text-muted {
  text-decoration: none;
  color: black;
}

 .b-example-divider {
  height: 10rem;
}

.fit {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 200px;
}

@media (max-width: 425px) { 

  .mainlogo{
    height: auto;
    max-height: 250px;
  }


}