body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Images/header.jpg)  center center fixed; 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}


.buffer {
  height: 5rem;
}

.btn-xl {
  padding: 1rem 2rem;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{ 
  background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
  border: none;
  background-size: 140% auto;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-position: right center;
}
  
.btn-primary:active {
  top: 2px;
}

hr {
  margin: 20px auto;
  color: linear-gradient(315deg, #c02425 0%, #f0cb35 25%);
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 1;  
}

#intro {
  display: flex;
  align-items: center;
  height: 100vh;
 margin: 100px 20px 0px 20px;
}


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1); */
}

.intro-text {
  text-align: center;
  font-size: 3rem;
  color: rgb(242, 242, 248);
  text-shadow: black;
}

#intro .intro-wrapper__image {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

#intro .intro-wrapper__button {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 10px;
}


@keyframes blinking {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  51%   { opacity: 1; }
  100%  { opacity: 1; }
}
.change-text:after {
  content: '_';
  animation: blinking 1.2s infinite;
  
}

@media (max-width: 576px) { 

  .content_home {
    margin-top: 5rem;
  }

  h3 {
    font-size: 2rem;
  }

}